/* Надеюсь это не проблема, что я использовал обнуление */

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-family: 'Poppins', sans-serif;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{
    font-size:inherit;
    font-weight: 400;
    font-family: 'Bitter', serif;
}
/*--------------------*/

body {
    background-color: rgb(243, 252, 195);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 38px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

p {
    font-size: 16px;
}

header {
    position: relative;
    width: 1110px;
    margin: 0 auto;
}

.header-wraper {
    width: 1110px;
    border-bottom: 1px solid #000;
    position: fixed;
    top: 0px;
    background-color: rgb(243, 252, 195);
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(128, 4, 4);
    text-shadow: 3px 3px 12px rgb(128, 4, 4);
}

main {
    width: 1110px;
    margin: 60px auto 30px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    padding-left: 10px;
}

.main {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.main img {
    width: 247px;
    height: 400px;
    padding: 40px 40px;
    background-color: rgb(183, 247, 177);
    border-radius: 30px;
}

.info {
    width: 1110px;
    margin: 0 auto;
    align-items: start;
}

.info h2 {
    color: rgb(5, 5, 5);
    border-left: 7px solid rgb(128, 4, 4);
    padding-left: 12px;
    margin-top: 60px;	
}

.info img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.info li {
    margin-bottom: 8px;
    font-size: 16px;
}

footer {
    text-align: center;
    border-top: 1px solid #000;   
    padding: 30px;
    width: 1110px;
    margin: 0 auto;
}

footer a, span { 
    font-size: 16px;
    color: #000;
}

footer a:hover {
    color: rgb(128, 4, 4);
    text-decoration: underline;
}
